@charset "UTF-8";

/* 'id' em html = '#' em css
dentro de um mesmo documento html só se pode ter um elemento id. regra w3c.
'class' em html = '.' em css
posso ter vários elementos com uma class.
mesmo elemento com id e class, id sobrepõe. */

body {
    background-color: rgba(80, 156, 131, 0.637);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(8, 77, 17);
}

h1#principal {
    text-align: center;
    background-color: aqua;
    color: rgb(134, 112, 71);
}

h2 {
     color: rgb(66, 122, 66);
}

.basico {
color:rgb(134, 112, 71);
}

.intermediario {
color: rgb(78, 131, 128);
}

.avançado {
color: rgb(87, 31, 31);
}

.destaque {
    background-color: rgb(160, 160, 68);
}