@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #818274, #A3AB78);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1e1f1bb0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #10454F;
    text-align: center;
    text-shadow: 1px 1px 2px #363631ad;
}

h2 {
    color: #506266;
}

p {
    text-align: justify;
}